/* page-body */

#page-body{
	margin: 0% 5% 2% 5%;
	font-family: 'Josefin Sans', serif;
	font-size: 100%;
	clear:both;
	margin-top: 3%;
	float:left;
	height:auto;
}

/* about us part */


 #aboutus h3{
 	padding-top: 1em;
	margin-left: 1em;
	font-size: 25px;
}

#aboutus p{
	padding: 0em 2em 1em 2em;
	text-align: left;
}

#aboutus{
	overflow: auto;
	background-color:white;
	box-shadow: 0px 4px 9px #888888;
	transition: box-shadow 1s;
	word-break: keep-all;
	float: left;
	width: 100%;
}


/* social details part */

#social{
	background-image: url("../images/social.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #A93535;
	color: white;
	float: left;
	width: 100%;
}

#social ul{
	padding-top:1em;
	text-align: center;
	list-style: none;
	font-size: 1.8em;
}

#social li{
	margin-top: 10px;
}

#social a{
	color: white;
}

#social h3{
	padding-top: 1em;
	font-size: 25px;
	margin-left: 1em;
}

#social p{
	padding-left: 2em;
	text-align: center;
	color:white;
	font-weight: bold;
	float:left;
}

@media (min-width:850px) {

	#aboutus{
		max-width: 60%;
	}

	#social{	
		max-width: 40%;
	}
}