/* heading style */

#heading{
	height:85%;
	width:100%;

}
#heading #banner{
	height:100%;
	background-size: cover;
	background-position: center center;
 	background-repeat: no-repeat;
	background-image: url("../images/baner.jpg");
	background-attachment: fixed;
}

.menu li{
	display:inline-block;
	padding-top:3%;
	padding-bottom: 1%;
	padding-right: 2%;
	padding-left: 2%;
	border-radius: 0% 0% 5% 5%;
	font-family: 'Josefin Sans', serif;
	font-weight: bold;
	color:white;
}

.menu #current-category{
	border-bottom: solid white;
	background-color: rgb(27,28,28);
}

.menu li:hover{
	border-bottom: solid white;
	background-color: rgb(27,28,28);
}
.menu{
	margin:0; 
	list-style: none;
}

.page-title{
	position: absolute;
	top:25%;
	right: 50%;
}
.page-title h1{
	font-weight: lighter;
	font-family: 'Pacifico', cursive, sans;
	font-size: 5em;
	color: white;
	margin:0;
}

.page-title h3{
	color: white;
	font-size: 1.2em;
	margin: 0;
	margin-top: -30px;
	margin-left: 90px;
}

.menu li a{
	color: white;
}


/*page content style*/

.page-body{
	margin: 0;
	background-color:#D1D6CE;
	padding-bottom: 8px;
}

.category-bar{
	margin: 0;
	margin-bottom: 2em;
	background-color: white;
	padding-top:1%;
	padding-bottom:0.5%;
	padding-left: 8%;
	box-shadow: 0px 4px 9px #888888;

}

/* reviews style */

.review{
	position: relative;
	margin-right: 9%;
	margin-left: 9%;
	background-color:white;
	height: 30%;
	margin-bottom: 20px;
	box-shadow: none;
	transition: box-shadow 1s;
}

.review-text{
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 1em;
	padding-left: 1em;
}

#review-1-img{
	background-image: url('../images/fc.jpg');
	background-repeat: no-repeat;
  	background-size: contain;
  	height:415px;
}

#review-2-img{
	background-image: url('../images/scream.jpg');
	background-repeat: no-repeat;
  	background-size: contain;
  	height: 415px;
}

#review-3-img{
	background-image: url('../images/borat.png');
	background-repeat: no-repeat;
  	background-size: contain;
  	height: 415px;
}

.review-image{
	float:left;
	margin-right: 10px;
	width: 30%;
	clear: right;
}

.wraper-link{
	position: absolute;
	width:100%;
	height:100%;
	left: 0;
    top: 0;;
}

.review:hover{
	box-shadow: 5px 5px 10px #888888;
	transition: box-shadow 0.5s;
}

/*other reviews- boxed menu */

.boxed-menu {
	margin-top:-2em;
	width:100%;
}

.boxed-menu ul{
	margin: 0;
	margin-left:-1.6em;
	float:left;
	width:100%;
}
.boxed-menu ul li{
	margin:0;
	height:17em;
	min-width:14%;
	float:left;
	list-style-type: none;
}
.boxed-menu{
	padding-left: 0;
}

/*
.boxed-menu .li a{
	position: absolute;
	left: 0;
    top: 0;;
    width: 100%;
    height:100%;

}
*/


.boxed-menu #item1{
	background-image: url('../images/gf.jpg');
	background-size: cover;
	background-repeat: no-repeat;

}

.boxed-menu #item2{
	background-image: url('../images/fc.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.boxed-menu #item3{
	background-image: url('../images/sl.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.boxed-menu #item3{
	background-image: url('../images/sl.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.boxed-menu #item4{
	background-image: url('../images/falci.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.boxed-menu #item5{
	background-image: url('../images/lincoln-large.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.boxed-menu #item6{
	background-image: url('../images/martian1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.boxed-menu #item7{
	background-image: url('../images/dk.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.boxed-menu #item8{
	background-image: url('../images/scream.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.boxed-menu #item9{
	background-image: url('../images/borat.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.boxed-menu #item10{
	background-image: url('../images/titanic.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.boxed-menu #item11{
	background-image: url('../images/brave.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
}
.boxed-menu #item12{
	background-image: url('../images/avatar.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.boxed-menu #item13{
	background-image: url('../images/spectre.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.boxed-menu #item14{
	background-image: url('../images/spider.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}