/* heading style */

#heading{
	height:85%;
	width:100%;

}
#heading #banner{
	height:100%;
	background-size: cover;
	background-position: center center;
 	background-repeat: no-repeat;
	background-image: url("../images/baner.jpg");
	background-attachment: fixed;
}

.page-title{
	position: absolute;
	top:25%;
	right: 50%;
	left:3%;

}
.page-title h1{
	font-weight: lighter;
	font-family: 'Pacifico', cursive, sans;
	font-size: 5em;
	color: white;
	margin:0;
}

.page-title h3{
	color: white;
	font-size: 1.2em;
	margin: 0;
	margin-top: -30px;
	margin-left: 90px;
}

/*page content style*/

.page-body{
	margin: 0;
	background-color:#D1D6CE;
	padding-bottom: 8px;
	width: 100%;
	height: 100%;
}

.category-bar{
	margin: 0;
	margin-bottom: 2em;
	background-color: white;
	padding-top:1%;
	padding-bottom:0.5%;
	padding-left: 8%;
	box-shadow: 0px 4px 9px #888888;

}

/* reviews style */

.review{
	overflow: hidden;
	position: relative;
	margin-right: 9%;
	margin-left: 9%;
	background-color:white;
	margin-bottom: 1.8em;
	box-shadow: none;
	transition: box-shadow 1s;
	
	transition:all 0.6s ;
    -webkit-transition:all 0.6s ;
    -o-transition:all 0.6s ;
    -moz-transition:all 0.6s ;

}

.review-text{
	padding-top: 2em;
	padding-bottom: 2em;
	padding-right: 2em;
	padding-left: 2em;
}


.image img{
	display: block;
	max-width: 100%;
	height: auto;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

.wraper-link{
	position: absolute;
	width:100%;
	height:100%;
	left: 0;
    top: 0;;
}

.review:hover{
	box-shadow: 5px 5px 10px #888888;
	transition: box-shadow 0.5s;
}

/*other reviews- boxed menu */

.boxed-menu {
	margin-top:-2em;
	width:100%;
}

.boxed-menu ul{
	margin: 0;
	margin-left:-1.6em;
	float:left;
	width:100%;
}
.boxed-menu ul li{
	margin:0;
	height:17em;
	min-width:14%;
	float:left;
	list-style-type: none;
}
.boxed-menu{
	padding-left: 0;
}

.image{
	max-width: 35%;
	width: auto;
	height: auto;
	float: left;
	padding: 0 .5em .5em 0;

}

@media( max-width: 800px){
	.image{
		max-width: 100%;
		min-width: 100%;
		align-content: center;
		padding:0 0 1.5em 0;
	}
	.review{
		margin-left: 1em;
		margin-right: 1em;
	}

}