#page-body{
	margin: 0;
	padding-bottom: 8px;
	margin-left: 9%;
	margin-right: 9%;
	height: 70%;
	font-family: 'Josefin Sans', serif;
	font-size: 18px;
}

#small{
	display: none;
}

#larger{
	display: larger;
}

.suggestion{
	height: 200px;
	width:100%;
	background-color: white;
	margin-bottom: 20px;
	box-shadow: none;
	transition: box-shadow 0.5s;
	position: relative;
}

.day{
	width: 8.9em;
	height: 100%;
	background-color: white;
	float:left;
}

.day p{
	font-weight: bold;
	padding:25%;
	font-size: 30px;
	word-break: break-all;
}
.movie-image{

	overflow: hidden;
	height: 100%;
	font-size: 30px;
	text-align: center;
/*	background-position: 50% 0;*/
	background-position: center;
}
.movie-image h3{
	padding: 6%;
	color: white;
}

.front-link{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.suggestion:hover{
	box-shadow: 3px 7px 12px -1px  rgba(0,0,0,0.75);
	transition: box-shadow 0.5s;
}

#movie-image-1{
	background-image: url('../images/week1.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover; 
}

#movie-image-2{
	background-image: url('../images/week2.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size:cover; 
}

#movie-image-3{
	background-image: url('../images/week3.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size:cover; 
}

#movie-image-4{
	background-image: url('../images/week4.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover; 
}

#movie-image-5{
	background-image: url('../images/week5.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover; 
}

#movie-image-6{
	background-image: url('../images/week6.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover; 
}

#movie-image-7{
	background-image: url('../images/week7.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover; 
}

@media(max-width: 700px){
	#page-body{
		margin: 0;
	}
	#small	{
		display: block;
	}
	#larger {
		display: none;
	}
	.day{
		max-width: 3em;
	}
}

